<!DOCTYPE html>
<html ng-app="zxClient">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>资讯</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div ng-controller="tabChange">
        <div class="tab">
            <div class="item-box clear" id="wrapper">
                <div class="left-item" id="scroller">
                    <ul class="tab-btn clear" id="thelist">
                        <li ng-repeat="item in items" ng-show="item.topShow">
                            <a class={{item.cls}} href="javascript:;" ng-click="select(item,items);">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>                
            <div class="add-item" ng-click="isShow=!isShow">订阅</div>
        </div>
        <div ng-repeat="item1 in items" ng-show="item1.selected">
            <ul class="list-box" style="display: block;">
                <li ng-repeat="x in item1.children">
                    <a href="javascript:;" ng-click="isDet()"><h2>{{x.tit}}</h2><span style="display: -webkit-box;overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;">{{x.cont}}</span><p class="clear"><span class="r">{{x.date}}</span></p></a>
                </li>
            </ul>
        </div>
        <!-- 增加或删除不会栏目 -->
        <div class="ng-cloak" ng-show="isShow" ng-cloak>
            <div class="bg"></div>
            <div class="subs">
                <div class="tips">点击增加或取消栏目</div>
                <section>
                    <h3>已添栏目</h3>
                    <ul class="col clear">
                        <li ng-repeat="col in items" ng-show="col.topShow">
                            <a href="javascript:;">{{col.name}}</a>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3 class="more-col">更多栏目</h3>
                    <ul class="col col2 clear">
                        <li ng-repeat="cols in items" ng-click="isAdd(cols)" ng-class="{'active': cols.topShow}"><a href="javascript:;">{{cols.name}}</a></li>
                    </ul>
                </section>  
           </div>
       </div>
        
        <!-- 正文详情页 -->
        <div class="container ng-cloak" ng-show="isDetail" ng-cloak>
            <span class="close-win" ng-click="isDetail=false"></span>
            <section class="cont-tit" ng-class="{'large':isLarge}">
                <h2 ng-bind="data.tit"></h2>
                <div class="clear">
                    <span class="l" ng-bind="data.tips.source"></span>
                    <span class="r" ng-bind="data.tips.date"></span>
                </div>
            </section>
            <section class="main-cont" ng-click="isSer=!isSer" ng-class="{'large':isLarge}">
                <span>相关股票：&nbsp;&nbsp;<a href="#">太平洋</a></span>
                <p ng-bind="data.cont"></p>
            </section>
            <div class="service ng-cloak" ng-show="isSer" ng-cloak>
                <a href="javascript:;" class="collect" ng-click="isColl()">收藏</a>
                <!-- <a href="#" class="change-size"><span></span></a> -->
                <a href="javascript:;" class="change-size" ng-click="isLarge=!isLarge" ng-class="{'move':isLarge}">
                    <i class="small-size">A</i>
                    <span></span>
                    <em class="big-size">A</em>
                </a>
                <a href="javascript:;" ng-click="isShare=true" class="share">分享</a>
            </div>
            
            <!-- 分享功能界面 -->
            <div class="ng-cloak" ng-show="isShare" ng-cloak>
                <div class="bg bg2"></div>
                <div class="bdsharebuttonbox share-cont">
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间" style="margin-top:80px;margin-left: 15%;"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" style="margin-top:80px;margin-left: 15%;"></a>
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信" style="margin-top:80px;margin-left: 15%;"></a>
                    <!-- <a href="#" class="bds_more" data-cmd="more"></a> -->
                    <span ng-click="isShare=false"></span>
                </div>
            </div>
        </div>

    </div>


    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script src="js/index.js"></script>
    <script type="text/javascript" src="js/iscroll.js"></script>

    <script type="text/javascript">
        var myScroll;

        function loaded() {
            var oParent=document.getElementById('scroller');
            var aChil=oParent.getElementsByTagName('li');
            //alert(aChil[0].offsetWidth);
            //alert(aChil[0].offsetWidth);


            oParent.style.width=aChil.length*70+'px';
            console.log(aChil.length)
            myScroll = new iScroll('wrapper', {
                snap: true,
                momentum: false,
                hScrollbar: false,

//              vScroll:false,//禁止垂直滚动
                snap:true,//执行传送带效果
                hScrollbar:false//隐藏水平方向上的滚动条
             });           
        }

        document.addEventListener('DOMContentLoaded', loaded, false);

    </script>

    <script>
        window._bd_share_config = {
            "common": {
                "bdSnsKey": {},
                "bdText": "",
                "bdMini": "2",
                "bdMiniList": ["renren", "tqq", "tieba", "sqq", "youdao", "isohu", "ty", "iguba"],
                "bdPic": "",
                "bdStyle": "1",
                "bdSize": "32"
            }, "share": {}
        };
        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    </script>
    <script>
    $(function(){

    	var s = 1;
    	$(".add-item").click(function(){
    		if(s==1){
    			$(".add-item").html('取消');
    			return s=0;
    		}
    		if(s==0){
    			$(".add-item").html('订阅');
    			return s=1;
    		}
    	});
    })

    </script>
</body>
</html>