@charset "utf-8";
/* CSS Document */
body,div,ul,li,input,p,dl,dt,dd,table,form,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
body{background:#fff;font-family: "Microsoft YaHei" ! important; font-family:"微软雅黑";}
body,html{font-size:62.5%;}
a{color:#000;}
a,
a:hover{text-decoration:none;}
em,i,city{font-style:normal;}
img{border:none;}
.l{float:left;}
.r{float:right;}
ul,ol,li{list-style-type:none; padding:0; margin: 0;}
.clear:after,
.area:after{content:".";visibility:hidden;height:0;display:block;clear:both;}
.clear,
.area{zoom:1;}

/*首页部分*/

.tab{/*position: relative;*/ position: fixed; z-index: 1; width:100%; height: 40px;background: #f0f0f0;}
.tab a{color: #a7a7a7;}
.tab-btn a{width: 100%;float: left;text-align: center;font-size: 1.6rem;line-height: 40px;height: 40px;box-sizing:border-box;}
a.active{border-bottom: 2px solid #e44d42;color:#e44d42;}
.list-box{width:100%;background: #fff; position: absolute; top: 40px; z-index: -3;/*新添加的固定定位*/}
.list-box li{border-bottom: 1px solid #ccc;padding: 10px;box-sizing: border-box;}
.cont-tit h2,.list-box h2{color: #5a5a5a;font-size: 1.6rem;padding-bottom: 10px;}
.list-box li a{font-size: 1.2rem;}
.list-box li p{color: #999;padding-top: 8px;}
.item-box{height: 40px;background: #f0f0f0;}
.item-box .left-item{width:85%;float: left;height: 40px;}
.add-item{width: 54px;/* position:absolute; */font-size: 1.6rem; position:fixed;top:0;right:0;z-index:2;/* background: url(../images/add.png) no-repeat center #f0f0f0;background-size: 40%; */height: 40px;line-height: 40px; text-align: center;}
.add-item a{display: block;height: 40px; /* position: a */}

/*导航条左右拖动*/
#wrapper {
	width:85%;
	height:40px;
	float:left;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
}

#scroller {
	width:700px;
	height:100%;
	float:left;
	padding:0;
}

#scroller ul {
	width:100%;
	height:100%;
}

#scroller li {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:70px; 
	height:40px;
	text-align:center;
	line-height:40px;
}


/*正文部分*/
.container{color: #6c6c6c;background: #fff;position:fixed;top: 0;left: 0;z-index: 10;height: 100%;width: 100%;}
.cont-tit{background: #f0f0f0;padding: 10px;}
.main-cont{padding:10px;font-size: 1.4rem;}
.main-cont span{color: #000;}
.main-cont span a{color: #33a2fc;}
.main-cont p{line-height: 30px;padding-top: 10px;}

/*下边固定条*/
.ng-cloak{display:none !important;}

.service{background: #e44d42;height: 44px;line-height: 44px;position: fixed;bottom: 0;left: 0;width: 100%;text-align: center;}
.service a{color: #fff;font-size: 1.6rem;}
.collect,.share{width:106px;background: url(../images/collect.png) no-repeat left;background-size: 25%;float: left;box-sizing:border-box;text-align: center;}
.share{background: url(../images/share.png) no-repeat right;background-size: 25%;float: right;}
.change-size{background: url(../images/change-size.png) no-repeat center;width: 106px;background-size: 50%;display:inline-block;height: 44px;position: relative;text-align: left;}
.change-size span{background: url(../images/change-size2.png) no-repeat;position: absolute;right: 41px;top: 10px;width: 37px;background-size: 65%;height: 28px;}
.change-size .small-size{position: absolute;left: 35px;top:0;font-size: 1.4rem;z-index: 1;color: #e44d42;}
.change-size .big-size{font-size: 2rem;padding-left:6px;position: absolute;top: 0;right: 31px;}

/*资讯订阅*/

.bg{position: fixed;height: 100%;width: 100%;background: #000;opacity: 0.4;filter:alpha(opacity:40);left: 0;top:0;}

.subs{background: #f0f0f0;position: fixed;left: 0;top: 50px;width: 100%;height: 90%;overflow-y: auto;}
.tips{color: #33a2fc;text-align: center;font-size: 1.4rem;}
.subs h3{font-weight: normal;font-size: 1.4rem;padding: 10px 0 10px 10px;}
.col{background: #fff;padding-right: 10px;/*margin-right: -10px;*/border-top: 1px solid #d6d5da;border-bottom: 1px solid #d6d5da;padding-bottom: 5px;min-height: 37px;}
.col li{float: left;background:#f0f0f0;width: 29%;background-size: 50%;font-size: 1.6rem;height: 30px;line-height: 30px;text-align: center;border: 1px solid #d6d5da;border-radius: 4px;margin: 5px 0 0 11px;}
.col li a{display: block;}
.subs .more-col{padding-top: 10px;}
.col2{padding-top: 6px;padding-bottom: 16px;}
.col2 li{margin-top: 5px;margin-bottom:0;background: #fff;}
li.active {background: #e44d42;}
li.active a{color: #fff;}


/*改变字体大小功能*/
.large{font-size: 1.8rem;}
.large h2{font-size: 2rem;}
.move span{right: 14px;/*transition:all .5s linear;*/}
.move .big-size{color: #e44d42;}
.move .small-size{color:#fff;}

/*分享功能*/
div.bg2 {top: 0;}
.share-cont{background: #f0f0f0;width: 80%;margin: 0 auto;position: fixed;left: 50%;top: 50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);height: 200px;border-radius: 6px;}
.close-win,.share-cont span{background: url(../images/close.png) no-repeat center;position: absolute;top: 0;right: 0;width: 48px;height: 48px;background-size: 60%;}

/*关闭正文窗口*/
.close-win{top: -6px;right: -6px;background-size: 50%;}

@media screen and (min-width: 360px) {
	.bg{top:40px;} 
}

