@charset "utf-8";

.banner_big { max-width:46.875em; position:relative; margin:0 auto; }
.banner_big .banner li { max-width:70em; height:auto; display: none; }
.banner_big .banner li img {margin:0 auto;}
.banner_big ol { position:absolute; right:48%; bottom:4%;} 
.banner_big ol li { width:1em; height:1em; border-radius:50%; background:rgba(8,205,125,0.4); float: left; margin: 0 0 0 0.625em; text-align:center; cursor:pointer; }
.banner_big ol .current { background:#08cd7d; }

.mostgood { width:100%; padding:0 5%; box-sizing:border-box; margin:0 auto; }
.mostgood a{width:100%; padding:0 7% 0; box-sizing:border-box; background:#f3f5f6; display:block; margin:0.5em 0;}
.mostgood a div { float:left; width:50%; }
.mostgood a div img { width:50%; }
.mostgood a .left img { margin:0 auto; }
.mostgood a .photo img{ float:right;width:70%; }
.mostgood a div ul li { width:33.33%; text-align:center; float:left; line-height:1.4em; }

.xm { width:100%; padding:0 5%; box-sizing:border-box; margin:0 auto; }
.xm a { width:100%; display:block; margin:0.5em 0; position:relative; }
.xm a img { margin:0 auto; }
.xm a .right { width:30%; height:100%; position:absolute; top:0; right:0; background:rgba(225,225,225,0.9); padding:5% 3%; box-sizing:border-box; line-height:2em; color:#524a48;}
.xm a .right .hse{ color:#f34d1a; }
.xm a .right .gda{ font-size:1.35em; font-size:1.35em; }

.card { width:100%; padding:0 5%; box-sizing:border-box; margin:0 auto; }
.card a { width:100%; padding:0 5%; box-sizing:border-box; display:block; margin:0.5em auto; display:block; background:#fafafa; }
.card a .right{ width:60%; float:right; }
.card a .right img { float:right; }
.card a .left{ width:40%; float:left; }
.card a .se1 { line-height:2em; }
.card a .logo { border-radius:50%; overflow:hidden; margin:3% 7%; }

.md { width:100%; padding:0 5%; box-sizing:border-box; margin:0 auto;  }
.md a { wdith:100%; display:block; margin:0.5em auto;  }
.md a img{ margin:0.5em auto;  }